/*
Tento soubor slouží jako agregátor, který pomocí @import shromažďuje všechny 
styly specifické pro opakovaně použitelné React komponenty (např. Tlacitko, Karta, Formulář).
*/
.button {
  display: flex;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: #4e47dd;
  box-shadow: 0 4px 8.1px 0 rgba(78, 71, 221, 0.52);
}
.grid-lines {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: #30384d;
  opacity: 0.2;
  -webkit-mask: url(/images/grid-lines.svg) center/cover no-repeat;
  mask: url(/images/grid-lines.svg) center/cover no-repeat;
}
