/*
Zde definujte styly pro hlavní strukturu a rozvržení stránky,
jako jsou CSS Grid a Flexbox kontejnery, nastavení polohy pro 
<header>, <footer> a <main>, a globální responzivní pravidla,
která ovlivňují celkovou strukturu.
*/
