/*
Zde definujte styly pro hlavní strukturu a rozvržení stránky,
jako jsou CSS Grid a Flexbox kontejnery, nastavení polohy pro 
<header>, <footer> a <main>, a globální responzivní pravidla,
která ovlivňují celkovou strukturu.
*/
.page__section {
  max-width: 1280px;
  margin: 0 auto;
}
.home-page {
  background-image: url(/images/grid-lines.svg);
  background: linear-gradient(
    119deg,
    rgba(47, 26, 67, 0.88) -17.78%,
    #0f1c2e 38.91%,
    #141636 80.11%
  );
  height: 100vh;
}
.home-page__header {
  display: flex;
  padding: 1.25rem 0.75rem 2rem;
  justify-content: space-between;
  align-items: flex-start;
}
.home-page__nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.home-page__title-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.25rem;
}
.home-page__balance {
  border-radius: 1rem;
  border: 1px solid #2f3547;
  background: rgba(25, 30, 54, 0.62);
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.5rem;
}

.home-page__main {
  text-align: center;
}

.home-page__games {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 equal cards per row */
  gap: 1rem;
  padding: 0.75rem;
  align-items: stretch;
}

@media (max-width: 1200px) {
  .home-page__games {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .home-page__games {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .home-page__games {
    grid-template-columns: 1fr;
  }
}

.game {
  box-sizing: border-box;
  /* remove width and flex-grow when using grid */
  width: auto;
  padding: 1.25rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
  min-height: 11.5rem;
  /* justify-content: space-between; */
  border-radius: 1rem;
  border: 1px solid #2f3547;
  background: #191e36;
}
.game__icon {
  display: flex;
  padding: 0.5625rem 0.9375rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 0.5px solid rgba(143, 143, 143, 0.24);
  background: #151a32;
}
.game__text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
}
.limit-width {
  max-width: 80%;
}
.comming-soon {
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
}
.comming-soon__icon {
  display: flex;
  width: 1.2rem;
  height: 1.5rem;
  padding: 1.25rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1.5rem;
  border: 1px dashed #2f3547;
  background: rgba(217, 217, 217, 0);
}
.comming-soon__subtext {
  color: #414f64;
  font-family: "IBM Plex Mono";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
