@layer reset, init, hamburger, components, layout;

@import url(normalize.css) layer(reset);
@import url(typography.css) layer(init);
@import url(layout.css) layer(layout);
/* @import url(hamburger.css) layer(hamburger);
 */@import url(components.css) layer(components);



@layer init {
    :root {
        --background: #1D1616;
        --primary: #8E1616;
        --secondary: #D84040;
        --text: #EEEEEE;
        --hamburger-color: #EEEEEE;
    }
    html{
      scroll-behavior: smooth;
      box-sizing: border-box;
    }
    

}

