/* 
Do tohoto souboru vložte globální CSS proměnné (:root) a 
definujte zde základní styly pro html a body (barvy, písmo, velikost)
a výchozí styly pro titulky (h1, h2, atd.) a .button.
*/

h2 {
  color: #fff;
  font-family: "IBM Plex Mono";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h3 {
  color: #fff;
  font-family: "IBM Plex Mono";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-gradient {
  background: var(
    --text-gradient,
    linear-gradient(90deg, #7f8ef8 0%, #25d1ee 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtext {
  color: #979797;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}