/* 
Do tohoto souboru vložte globální CSS proměnné (:root) a 
definujte zde základní styly pro html a body (barvy, písmo, velikost)
a výchozí styly pro titulky (h1, h2, atd.) a .button.
*/

@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
h2 {
  color: #fff;
  font-family: "IBM Plex Mono";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h3 {
  color: #fff;
  font-family: "IBM Plex Mono";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.text-gradient {
  background: var(
    --text-gradient,
    linear-gradient(90deg, #7f8ef8 0%, #25d1ee 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtext {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.1725rem;
  text-align: start;
}
.subtitle {
  color: #94a3b8;

  /* subtitle */
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.text-welcomeback {
  color: #fff;
  font-family: "IBM Plex Mono";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.text-label {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: Inter;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.text-label--sm {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: Inter;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.white {
  color: white;
}
.ibmplexmono {
  font-family: "IBM Plex Mono";
}
.hoverable {
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}
.hoverable:hover {
  color: hsl(215, 20%, 75%);
}
.game-title {
  color: #fff;

  /* H1 - desktop */
  font-family: "IBM Plex Mono";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
