/* Timesplit Game Styles */

.time-split-page {
  background: linear-gradient(111deg, #0E102F 10.88%, #0D0F19 54.87%, #0F102E 98.85%);
}
.time-split-game__wrapper{
    max-width: 450px;
  margin: 0 auto;
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.timesplit-button{
    display: flex;
  padding: 0.25rem 1rem;
  flex-direction: column;
  align-items: start;
  border-radius: 0.5rem;
  background: #6d28d9;
  max-width: fit-content;
}
.timesplit-button__text{
    color: #fff;
  font-family: Inter;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.timesplit-button__subtext{
    color: #fff;
  font-family: "IBM Plex Mono";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}