@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2 {
  color: #fff;
  font-family: "IBM Plex Mono";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h3 {
  color: #fff;
  font-family: "IBM Plex Mono";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-gradient {
  background: var(
    --text-gradient,
    linear-gradient(90deg, #7f8ef8 0%, #25d1ee 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtext {
  color: #979797;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
